@charset "utf-8";
/* CSS Document */
.phone1{
font-size:20px;
}

.phone2{
font-size:19px;
margin-top:-30px;
}

.main_heading1{
font-size:18px;
}

.main_heading2{
padding-left:18px;
font-size:19px;
padding-right:0px;
}

.head1_text{
font-size:11px;
margin-top:-56px;
}


